.movies-page {
  
}

.movies-page > p {
  text-align: center;
  margin: 40px 40px 20px 40px;
  line-height: 1.5em;
  max-width: 500px;
}

.movies-page > a {
  color: #0098ff;
}

@media (min-width: 568px) {
  .movies-page > p {
    margin: 40px auto 20px auto;
  }
}